# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment files
.env

# Uploaded files
uploads/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/

# Build files
dist/
build/
.next/
